* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    // background-color: red;
}

body {
    font-family: Nunito;
    height: 1000px;
    background-color: rgb(248, 249, 250);
}

html {
    scroll-behavior: smooth;
}

.navbar {
    font-weight: 700;
    transition: all 0.4s;
}

.navbar-brand {
    color: rgb(202, 202, 202) !important;
}

.nav-link {
    color: rgb(202, 202, 202) !important;
}

.header {
    width: 100%;
    min-height: 40rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/bg-masthead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.header-title {
    font-size: 7vw;
    letter-spacing: 1rem;
    color: rgb(157, 157, 157);
    padding: 0;
    margin: 0;
}

.header-des {
    font-size: 1.5vw;
    color: rgb(180, 180, 180);
    width: 60%;
}

.header-btn {
    padding: 1.25rem 2rem;
    background-color: rgb(84, 140, 136);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: Nunito;
    font-size: 80%;
    letter-spacing: 2px;
}

.scroll {
    background-color: white !important;
}

.scroll-bg {
    color: black !important;
}

.scroll-bg-g {
    color: gray !important;
}

.about {
    padding-top: 100px;
    height: auto;
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
    .about-img {
        margin-top: 80px;
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.row1 {
    width: 65% !important;
}

.pro {
    margin-top: 150px;
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.center div {
    border-left: 0.5rem solid #64a19d;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.db {
    padding: 0 60px;
    div {
        hr {
            border-color: #64a19d;
            border-width: 0.25rem;
            width: 30%;
        }
    }
}

.rtl {
    text-align: right;
}

.top {
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    height: 500px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("../images/bg-signup.jpg");
    background-size: cover;
    background-position: center;
}

input {
    padding: 1.25rem 2rem;
    height: auto;
    width: 70%;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    border-radius: 3px;
    margin-right: 10px;
}

.sub {
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    background-color: rgb(100, 161, 157);
    border-radius: 3px;
    color: white;
    border: none;
    outline: none;
}

@media screen and (max-width:990px) {
    .navbar {
        background-color: white !important;
    }
    .navbar-brand {
        color: black !important;
    }
    .nav-link {
        color: rgba(0, 0, 0, 0.3) !important;
    }
    .row1 {
        width: 100% !important;
    }
    .pro {
        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .center {
        text-align: center;
        div {
            border: none;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .db {
        padding: 30px;
        margin: 0 auto;
        text-align: center;
        div {
            text-align: center;
            hr {
                display: none;
            }
        }
    }
    .top {
        margin-top: 50px !important;
    }
}

@media screen and (max-width:600px) {
    .header-des {
        font-size: 2.5vw;
    }
}